<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
User first_name: <%= @user.first_name %>
<%= simple_form_for [@user] do |f| %>
  <%= f.input :first_name, placeholder: 'First Name', label: false %>
  <%= f.input :last_name, placeholder: 'Last Name', label: false %>
  <%= f.input :delivery_address, placeholder: 'Main Delivery Address', label: false %>
  <%= f.submit "Update!", class: 'btn btn-success' %>
<% end %>