<div class="container">
  <h1>Account Info</h1>
  <%= simple_form_for [@user] do |f| %>
    <%= f.input :first_name, label: 'First Name' %>
    <%= f.input :last_name, label: 'Last Name' %>
    <%= f.input :delivery_address, label: 'Main Delivery Address' %>
    <%= f.submit "Update!", class: 'btn btn-success' %>
  <% end %>
</div>