<!-- <= link_to 'Transaction Index', transactions_path > -->
<!-- <h1>Root's View</h1> -->
<div class="container">
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Product" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <% @products.each do |product| %>
    <div class="container_card">
      <%= cl_image_tag product_image(product), class: "ima_tag", crop: :fill, :alt => product.name %>
      <div class="container_cards_2">
        <div class="card_infos">
          <h2><%= link_to product.name, product %></h2>
          <p>USD <%= product.price %>.00</p>
          <% if product.stock > 3 %>
            <p> <%= "#{product.stock} available" %> </p>
          <% else %>
            <p><strong><%= "Only #{product.stock} available!" %></strong></p>
          <% end %>
          <% if product.user == current_user %>
            <!-- < if product.user == current_user || current_user.admin > -->
            <%= link_to 'Edit', edit_product_path(product), class: "far fa-edit" %>
            <!-- class: 'btn btn-outline-warning' -->
            <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash" %>
            <!-- class="btn btn-danger" -->
          <% end %>
        </div>
        <div class="trans_from">
          <%= simple_form_for [Transaction.new] do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.input :quantity, placeholder: 'How many today?', label: false %>
            <%= f.submit "Get It!", class: 'btn btn-success btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="map"
      style="width: 100%; height: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>