<p id="notice"><%= notice %></p>
<%= link_to 'Transaction Index', transactions_path %>
<h1>Root's View</h1>
<div class="container">
  <% @products.each do |product| %>
    <div>
      <div class="card-product">
        <%= image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", :alt => "rss feed") %>
        <div class="card-product-infos">
          <h2><%= link_to product.name, product %></h2>
          <h4>R$ <%= product.price %>,00</h4>
          <% if product.user == current_user %>
            <!-- < if product.user == current_user || current_user.admin > -->
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [Transaction.new] do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.input :quantity %>
        <%= f.submit "Get It!", class: 'btn btn-success' %>
      <% end %>
    </div>
  <% end %>
</div>