<!-- <= link_to 'Transaction Index', transactions_path > -->
<!-- <h1>Root's View</h1> -->
<div class="container">
  <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a Product" %>
    <!-- <= submit_tag "Search", class: "btn btn-outline-primary" %> -->
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i> Search
    </button>
    <!-- class: "fas fa-search" -->
  <% end %>
  <% @products.each do |product| %>


      <div class="container_card">

        <%= link_to(product) do %>
          <%= cl_image_tag product_image(product), class: "ima_tag", crop: :fill, :alt => product.name %>
        <% end %>

        <div class="container_cards_2">

          <div class="card_infos">
            <h2><%= link_to product.name, product %></h2>
            <p>USD <%= product.price %>.00</p>
            <% if product.stock > 3 %>
              <p> <%= "#{product.stock} available" %> </p>
              <% else %>
              <p><strong><%= "Only #{product.stock} available!" %></strong></p>
            <% end %>

            <% if product.user == current_user %>
              <!-- < if product.user == current_user || current_user.admin > -->

              <!-- <= link_to (content_tag(:i, 'Edit', class: "k fas fa-edit")), edit_product_path(product), class: 'btn btn-outline-warning btn-sm' %> -->
              <div class="buttons_1">
                <%= link_to edit_product_path(product) do %>
                  <div class="btn btn-outline-warning btn-sm"> Edit <i class="k fas fa-edit"></i>
                  </div>
                <% end %>
                <!-- class: 'btn btn-outline-warning' -->

                <!-- <= link_to (content_tag(:i, "Delete", class: "fas fa-trash")), product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %> -->
                <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <div class="btn btn-outline-danger btn-sm"> Delete <i class="fas fa-trash"></i>
                  </div>
                <% end %>
              </div>
            <% end %>
            <!-- class="btn btn-danger" -->
        </div>
        <div class="trans_from">
          <%= simple_form_for [Transaction.new] do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.input :book, as: :datetime, html5: true, label: "Arrange:" %>
            <%= f.input :quantity, placeholder: 'How many?', label: false %>
            <%= f.submit "Get It!", class: 'btn btn-success btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container" id="map"
      style="width: 100%; height: 700px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
