
  <table class="trans_total" style="width:80%">
    <tr>
      <th></th>
      <th>Id#</th>
      <th>Created At</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction_path(transaction), method: :delete, data: { confirm: "Are you sure?" } do %>
          <div class="btn btn-danger btn-sm"> Delete <i class="fas fa-trash"></i>
          </div>
          <% end %></td>
        <td><%= link_to edit_product_path(product) do %>
          <div class="btn btn-outline-warning btn-sm"> Edit <i class="k fas fa-edit"></i>
          </div>
        <% end %></td>
        <td><%= link_to transaction.id, transaction_path(transaction) %></td>
        <td><%= transaction.created_at %></td>
        <td><%= transaction.product.name %></td>
        <td><%= transaction.quantity %></td>
        <td>USD<%= transaction.product.price %>.00</td>
        <td>USD<%= transaction.quantity * transaction.product.price %>.00</td>
      </tr>
    <% end %>
    <tr>
      <% grand_total = 0 %>
      <% @transactions.each do |transaction| %>
        <% grand_total += (transaction.quantity * transaction.product.price) %>
      <% end %>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td><strong>USD <%= grand_total %>.00</strong></td>
    </tr>
  </table>
  <div class="buy">
    <% @my_sold_transactions.each do |my_sold_transaction| %>
      <hr>
      <div class="buy_info">
        <p>Sold Item: <%= my_sold_transaction.product.name %></p>
        <p>Quantity: <%= my_sold_transaction.quantity %></p>
        <p>Customer: <%= my_sold_transaction.user.first_name %></p>
        <p>Arranged to: <%= my_sold_transaction.book %></p>
      </div>
      <hr>
    <% end %>
  </div>
