<table style="width:80%">
  <tr>
    <th></th>
    <th>Id#</th>
    <th>Created At</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td> <%= link_to "Delete", transaction_path(transaction), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %> </td>
      <td> <%= link_to transaction.id, transaction_path(transaction) %> </td>
      <td> <%= transaction.created_at %> </td>
      <td> <%= transaction.product.name %> </td>
      <td> <%= transaction.quantity %> </td>
      <td> USD <%= transaction.product.price %>.00 </td>
      <td> USD <%= transaction.quantity * transaction.product.price %>.00 </td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% grand_total = 0 %>
    <% @transactions.each do |transaction| %>
      <% grand_total += (transaction.quantity * transaction.product.price) %>
    <% end %>
    <td><strong>Total</strong> USD <%= grand_total %>.00 </td>
  </tr>
</table>
<% @my_sold_transactions.each do |my_sold_transaction| %>
  <hr>
  <p>Item vendido: <%= my_sold_transaction.product_id %></p>
  <p>Qtdd vendida: <%= my_sold_transaction.quantity %></p>
  <p>Comprador: <%= my_sold_transaction.user.first_name %></p>
  <p>Criado: <%= my_sold_transaction.created_at %></p>
<% end %>