<div>
  <%= link_to root_path do %>
    <div class="btn btn-success"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
    </div>
  <% end %>
</div>
<table class="trans_total" style="width:80%">
  <tr>
    <th></th>
    <th>Id#</th>
    <th>Created At</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td> <%= link_to transaction_path(transaction), method: :delete, data: { confirm: "Are you sure?" } do %>
          <div class="btn btn-danger btn-sm"> Delete <i class="fas fa-trash"></i>
          </div>
        <% end %></td>
      <td><%= link_to transaction.id, transaction_path(transaction) %></td>
      <td><%= transaction.created_at.strftime("%d/%m/%Y") %></td>
      <td><%= link_to transaction.product.name, product_path(transaction.product) %></td>
      <td><%= transaction.quantity %></td>
      <td>USD <%= transaction.product.price %>.00</td>
      <td>USD <%= transaction.quantity * transaction.product.price %>.00</td>
    </tr>
  <% end %>
  <tr>
    <% grand_total = 0 %>
    <% @transactions.each do |transaction| %>
      <% grand_total += (transaction.quantity * transaction.product.price) %>
    <% end %>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td><strong>USD <%= grand_total %>.00</strong></td>
  </tr>
</table>
<div class="buy">
  <% @my_sold_transactions.each do |my_sold_transaction| %>
    <hr>
    <div class="buy_info">
      <p>Sold Item: <%= my_sold_transaction.product.name %></p>
      <p>Quantity: <%= my_sold_transaction.quantity %></p>
      <p>Customer: <%= my_sold_transaction.user.first_name %></p>
      <p>Arranged to: <%= my_sold_transaction.book %></p>
    </div>
    <hr>
  <% end %>
</div>