<p id="notice"><%= notice %></p>
<h1> Transaction id# <%= @transaction.id %> created </h1>
<p>Thanks <%= @user.first_name %> for your business </p>
<p> item: <%= @product.name %> </p>
<p> quantity: <%= @transaction.quantity %> </p>
<p> price per unit: USD <%= @product.price %> </p>
<p> total: USD <%= @product.price * @transaction.quantity %> </p>