<h1>Product's Edit</h1>
<%= link_to "Product's Index", products_path, class: 'btn btn-light btn-sm' %>
<div class="container">
  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>