<h1>Item Edit</h1>
<div class="container">
  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.input :name, label: 'Item Name' %>
    <%= f.input :stock, label: 'Availability' %>
    <%= f.input :price, label: 'Price per Unit' %>
    <%= f.submit 'Update', class: 'btn btn-success' %>
  <% end %>
</div>