<div class="container">
  <div class="edit_all">
    <div class="edit_head">
      <h1 class="">Item Edit</h1>
    </div>
      <div class="edit_card">
        <%= simple_form_for [@user, @product] do |f| %>
          <%= f.input :name, label: 'Item Name' %>
          <%= f.input :stock, label: 'Availability' %>
          <%= f.input :price, label: 'Price per Unit' %>
          <%= f.input :address, label: 'Item Location' %>
          <%= f.input :photo, as: :file, label: 'Photo ðŸ“·' %>
          <%= f.submit "Updateâš™ï¸", class: 'btn btn-success btn-sm' %>
        <% end %>
      </div>
  </div>
</div>
