<!-- <h1><= "#{current_user.email}" %> Product's Index</h1> -->

<div class="index_container">
  <% @products.each do |product| %>
    <% if product.remove == false %>
  <div class="product-info d-flex justify-content-start">
    <div>
      <%= cl_image_tag product_image(product), class: "ima_tag", crop: :fill, :alt => product.name %>
    </div>
    <div class="index_items">
      <h2><%= link_to product.name, edit_product_path(product) %></h2>
      <h4>Availability: <%= product.stock %></h4>
      <h4>Price: USD <%= product.price %>.00</h4>
      <% if product.user == current_user %>
        <!-- < if product.user == current_user || current_user.admin > -->
        <!-- <= link_to (content_tag(:i, 'Delete', class: "fas fa-trash")), product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %> -->
        <%= link_to edit_product_path(product) do %>
          <div class="btn btn-warning btn-sm"> Edit <i class="k fas fa-edit"></i>
          </div>
        <% end %>

        <%= link_to product_path(product), method: :delete, data: { confirm: "Are you sure?" } do %>
          <div class="btn btn-danger btn-sm"> Delete <i class="fas fa-trash"></i>
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="index_new">
    <%= simple_form_for [Product.new] do |f| %>
      <%= f.input :name, placeholder: 'Item Name', label: false %>
      <%= f.input :stock, placeholder: 'Availability', label: false %>
      <%= f.input :price, placeholder: 'Price per Unit', label: false %>
      <%= f.input :address, placeholder: 'Item Location', label: false %>
      <%= f.input :photo, as: :file, label: 'Photo' %>
      <%= f.submit "Add!✔️", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
