<h1>New Item</h1>
<div class="container">
  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.input :name, label: 'Item Name' %>
    <%= f.input :stock, label: 'Availability' %>
    <%= f.input :price, label: 'Price per Unit' %>
    <%= f.input :address, label: 'Item Location' %>
    <%= f.input :photo, as: :file, label: 'Photo' %>
    <%= f.submit 'Add', class: 'btn btn-success' %>
  <% end %>
</div>
