<h1>Add a Product's view</h1>
<div class="container">
  <%= simple_form_for [@user, @product] do |f| %>
    <%= f.input :name %>
    <%= f.input :stock %>
    <%= f.input :price %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>