  <p id="notice"><%= notice %></p>
<p>Product's Show</p>
<h1> <%= @product.name %> </h1>
<p> stock: <%= @product.stock %> </p>
<p> price: <%= @product.price %> </p>
<p> Belongs to user_id#: <%= @product.user_id %> </p>
<p><%= link_to 'Edit Product', edit_product_path(@product) %></p>
<p><%= link_to "user_id#1 Product's Index", products_path(@product.user_id) %></p>
<p><%= link_to 'Home Page', root_path %></p>
